# Site wide configuration

title: "FOSS4G Boston 2017"
description: "Free and Open Source Software for Geospatial"
# logo: # 120x120 px default image used for Twitter summary card
# teaser: # 400x250 px default teaser image used in image archive grid
locale: en

url: http://2017.foss4g.org
baseurl: /

feed:
  path: atom.xml

# Jekyll configuration
github: [metadata]
kramdown:
  toc_levels: 1..2
  input: GFM
  hard_wrap: false
  math_engine: mathjax
gems:
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-coffeescript
  - jekyll-paginate

lsi: false
safe: true
incremental: false
highlighter: rouge
gist:
 noscript: false



sass:
  sass_dir: _sass
  style: compressed

permalink: /:categories/:title/


# Site owner
owner:
  name:
  email:
  twitter:
  google:
    ad-client:
    ad-slot:
  bio:
    avatar:
    disqus-shortname:


include:
  - .htaccess
exclude:
  - "*.less"
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - config
  - gulpfile.js
  - lib
  - log
  - node_modules
  - package.json
  - spec
  - tmp
