<header id="masthead">
	<div class="inner-wrap">
		<a href="{{site.baseurl}}/" class="site-title" style="width: 100px;"><img src="{{site.baseurl}}/images/square_color_100x100.png" style="margin-top: -30px;" alt="Heading Logo"></a>
		<nav role="navigation" class="menu top-menu" id="top-nav">
			<ul>
				<li><a class="active" href="{{site.baseurl}}">Home</a></li>
				<li><a class="active" href="{{site.baseurl}}/about">About FOSS4G</a></li>
				<li class="dropdown">
					<a href="{{site.baseurl}}/attending/" class="dropbtn">Attending</a>
					<div class="dropdown-content">
						<a href="{{site.baseurl}}/attending/">Registration</a>
					</div>
				</li>
				<li class="dropdown">
					<a href="{{site.baseurl}}/schedule/" class="dropbtn">Schedule</a>
					<div class="dropdown-content">
						<a href="{{site.baseurl}}/schedule/">Main Program</a>
						<a href="{{site.baseurl}}/schedule/">Workshops</a>
						<a href="{{site.baseurl}}/schedule/">Social Events</a>
					</div>
				</li>
				<li class="dropdown">
					<a href="{{site.baseurl}}/#sponsors" class="dropbtn">Sponsors</a>
					<div class="dropdown-content">
						<a href="{{site.baseurl}}/#sponsors">Prospectus</a>
					</div>
				</li>
			</ul>
		</nav>
	</div>
	<!-- /.inner-wrap -->
</header>
<!-- /.masthead -->
