<header id="masthead">
  <div class="inner-wrap">
    <a href="{{ site.url }}/" class="site-title" style="width: 100px;"><img src="{{ site.url }}/images/square_color_100x100.png" style="margin-top: -30px;" alt="Heading Logo"></a>
	<nav role="navigation" class="menu top-menu" id="top-nav">
    {{site.baseurl}}
		<ul>
			<li><a class="active" href="{{site.baseurl}}">Home</a></li>
			<li><a class="active" href="{{site.baseurl}}/about">About FOSS4G</a></li>
			<li class="dropdown">
			<a href="/attending/" class="dropbtn">Attending</a>
			<div class="dropdown-content">
				<a href="/attending/">Registration</a>
			</div>
			</li>
			<li class="dropdown">
			<a href="/schedule/" class="dropbtn">Schedule</a>
			<div class="dropdown-content">
				<a href="/schedule/">Main Program</a>
				<a href="/schedule/">Workshops</a>
				<a href="/schedule/">Social Events</a>
			</div>
			</li>
			<li class="dropdown">
			<a href="{{ site.url }}/#sponsors" class="dropbtn">Sponsors</a>
			<div class="dropdown-content">
				<a href="{{ site.url }}/#sponsors">Prospectus</a>
			</div>
			</li>
		</ul>
	</nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
