{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

<!-- <div class="author-image">
  <img src="{{ site.baseurl }}/images/{{ author.avatar }}" alt="{{ author.name }}">
</div> -->
<!-- ./author-image -->

<div>
  <p>{{ site.data.messages.locales[site.locale].written_by }} {% if page.author.web %}<a href="{{ page.author.web }}" itemprop="author">{{ page.author.name }}</a>{% else %}<span itemprop="author">{{ page.author.name }}</span>{% endif %}  &middot; 
<!-- ./author-content -->

{% if page.date %} {{ site.data.messages.locales[site.locale].updated }} {% if page.modified %}<time datetime="{{ page.modified | date: "%Y-%m-%dT%H:%M:%SZ" }}" itemprop="dateModified">{{ page.modified | date: "%B %d, %Y" }}</time>{% else %}<time datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}" itemprop="datePublished">{{ page.date | date: "%B %d, %Y" }}</time></p>{% endif %}
</div><!-- /.page-meta -->{% endif %}
