/* ==========================================================================
   Animations
   ========================================================================== */

/*
   Wiggle animation
   ========================================================================== */

@include keyframes(wiggle) {
	25%, 50%, 75%, 100% { @include transform-origin(top center); }
	25% { @include transform(rotate(8deg)); }
	50% { @include transform(rotate(-4deg)); }
	75% { @include transform(rotate(2deg)); }
	100% { @include transform(rotate(0deg)); }
}

/*
   Pop animation
   ========================================================================== */

@include keyframes(pop) {
	50% { @include transform(scale(1.1)); }
	100% { @include transform(scale(1)); }
}

/*
   Hang animation
   ========================================================================== */

@include keyframes(hang) {
	50% { @include transform(translateY(-3px)); }
	100% { @include transform(translateY(-6px)); }
}
.hang {
	display: inline-block;
	@include animation-name(hang);
	@include animation-duration(0.5s);
	@include animation-timing-function(linear);
	@include animation-iteration-count(infinite);
	@include animation-direction(alternate);
}

/*
   Sailboat animation
   ========================================================================== */

#sailing-water {
  margin-bottom: -6px;
}

.sailboat {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: sail 25s linear infinite;
  -moz-animation: sail 25s linear infinite;
  -o-animation: sail 25s linear infinite;
  animation: sail 25s linear infinite;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
@-webkit-keyframes sail {
  0% {
    -webkit-transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(-330px, 0px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
  }
}
@-moz-keyframes sail {
  0% {
    -webkit-transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(-330px, 0px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
  }
}
@-o-keyframes sail {
  0% {
    -webkit-transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(-330px, 0px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
  }
}
@keyframes sail {
  0% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(-330px, 0px);
    -moz-transform: translate(-330px, 0px);
    -ms-transform: translate(-330px, 0px);
    transform: translate(-330px, 0px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
}

.sailboat-2 {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: sail-2 10s linear infinite;
  -moz-animation: sail-2 10s linear infinite;
  -o-animation: sail-2 10s linear infinite;
  animation: sail-2 10s linear infinite;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
@-webkit-keyframes sail-2 {
  0% {
    -webkit-transform: translate(0, 0px);
  }
  60% {
    -webkit-transform: translate(-100px, 0px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
  }
}
@-moz-keyframes sail-2 {
  0% {
    -webkit-transform: translate(0, 0px);
  }
  60% {
    -webkit-transform: translate(-100px, 0px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
  }
}
@-o-keyframes sail-2 {
  0% {
    -webkit-transform: translate(0, 0px);
  }
  60% {
    -webkit-transform: translate(-100px, 0px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
  }
}
@keyframes sail-2 {
  0% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  60% {
    -webkit-transform: translate(-100px, 0px);
    -moz-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate(-100px, 0px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
}