/* ==========================================================================
   Base
   ========================================================================== */
/*
   Typography
   ========================================================================== */
body {
    font-family: $base-font;
    color: $text-color;
    @include font-size(16);
    min-height: 100vh;
}

p {
    @include font-size(18,yes,28);
}

li {
    @include font-size(16,12,24);
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
    @include font-size(36);
}

h2 {
    @include font-size(32);
}

h3 {
    @include font-size(28);
}

h4 {
    @include font-size(24);
}

h5 {
    @include font-size(20);
}

h6 {
    @include font-size(18);
}
/* Underlined text */
ins,
u {
    text-decoration: none;
    border-bottom: 1px solid $text-color;
}
/* Links */
a {
    color: $link-color;

    &:hover {
        color: darken($link-color, 20);
    }

    &:focus {
        @extend %tab-focus;
    }

    &:active,
    &:hover {
        outline: 0;
    }
}

.blurb {
    background-color: #BB133E;
    width: 100%;
}

.blurb p {
    margin-top: 0;
    padding-top: 18px;
    color: $white;
    padding-bottom: 18px;
}

.welcome {
    text-align: center;
    padding-top: 20px;
    font-family: "Open Sans",Helvetica,Arial,Sans-Serif;
    margin: 0 auto;
}

.welcome h4 {
    font-family: "Open Sans",Helvetica,Arial,Sans-Serif;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 4px;
    padding-top: 16px;
}

.welcome p {
    font-family: "Open Sans",Helvetica,Arial,Sans-Serif;
    margin-top: 0;
    line-height: 1.25;
    padding-right: 16px;
    padding-left: 16px;
}

#head-feature {
    color: #000;
    margin-top: 8px;
    margin-bottom: 0;
    padding: 12px;
    font-size: 21px;
    line-height: 1.25;
}
@media screen and (min-width: 800px) {
    .feature-wrapper {
        @include outer-container;
        color: #000;
    }

    .feature-inner {
        @include span-columns(6);
        @include shift(3);
        text-align: center;
        background-color: rgba(255,255,255,0.90);
        border-radius: 40px;
        // margin-left: 0px;
    }

    .feature-main {
        margin-left: 0;
        height: 275px;
    }
}
@media screen and (max-width: 800px) {
    .feature-wrapper {
        @include outer-container;
        margin-top: 20px;
        margin-bottom: 12px;
        color: #000;
    }

    .feature-inner {
        @include fill-parent();
        text-align: center;
        border-radius: 40px;
        background-color: rgba(255,255,255,0.90);
    }

    .main-float {
        margin-left: 0;
    }
}
@media screen and (min-width: 800px) {
    .video-wrapper {
        @include outer-container;
        color: #000;
        padding-top: 0;
        margin-bottom: 48px;
    }

    .video-inner {
        @include span-columns(8);
        @include shift(2);
        text-align: center;
        background-color: rgba(255,255,255,0.90);
        border-radius: 40px;
    }
}
@media screen and (max-width: 799px) {
    .video-wrapper {
        @include outer-container;
        margin-top: 0;
        margin-bottom: 12px;
        color: #000;
        padding-top: 0;
        margin-bottom: 48px;
    }
    .video-inner {
        @include fill-parent();
        text-align: center;
        border-radius: 40px;
        background-color: rgba(255,255,255,0.90);
    }
    #head-feature {
        padding-top: 16px;
    }
}
@media screen and (max-width: 960px) {
    .welcome {
        padding-right: 0;
        padding-left: 0;
    }
}
@media screen and (min-width: 960px) {
    #welcome-video {
        padding-left: 90px;
        padding-right: 90px;
    }
}

@media screen and (min-width: 1280px) {
    h2#head-feature {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1;
        margin-bottom: 24px;
        margin-bottom: 1.5rem;
    }
}

.featured {
    text-align: center;
}

.gen-section {
    text-align: center;
}

.shadowed {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.75));
}

#head-feature {
    font-weight: bolder;
    text-shadow: 2px 2px #fff;
}
/* Quoted text */
blockquote {
    padding-left: $gutter;
    padding-right: $gutter;
    border-left: 6px solid $info-color;

    p {
        font-family: $alt-font;
        @include font-size(24);
    }

    cite {
        font-family: $base-font;
        font-weight: 700;
        font-style: normal;
        @include font-size(18);
    }
}
// Code

code,
kbd,
pre,
samp,
tt {
    font-family: $code-font;
}

pre {
    overflow-x: auto; // add scrollbars to wide code blocks
}

li code,
p code {
    @include font-size(16,no);
    color: $text-color;
    white-space: nowrap;
    margin: 0 2px;
    padding: 0 5px;
    border: 1px solid $border-color;
    background-color: lighten($primary-color, 95);
    border-radius: $border-radius;
}
/*
   Media and embeds
   ========================================================================== */
/* Figures and images */
figure {
    margin-left: -1 * $gutter;
    margin-right: -1 * $gutter;
    // full width figures on small screens
    @include media($small) {
        margin-left: 0;
        margin-right: 0;
        position: relative;
    }
    @include clearfix;

    .fluid-width-video-wrapper,
    .palette,
    img {
        margin-bottom: (0px + $doc-line-height) / 2;
        // margin-bottom: (0rem + ($doc-line-height / $doc-font-size)) / 2;
    }

    a {
        img {
            /* Image hover animation */
            @include transition(box-shadow 0.3s);

            &:hover {
                box-shadow: 0 0 10px rgba($black, .20);
            }
        }
    }

    &.half {
        @include outer-container;
        @include media($small) {
            > img,
            a {
                @include span-columns(6);
                @include omega(2n);
            }

            figcaption {
                clear: left;
            }
        }
    }

    &.third {
        @include outer-container;
        @include media($small) {
            > img,
            a {
                @include span-columns(4);
                @include omega(3n);
            }

            figcaption {
                clear: left;
            }
        }
    }
}
/* Figure captions */
figcaption {
    padding-left: $gutter;
    padding-right: $gutter;
    @include media($small) {
        padding-left: 0;
        padding-right: 0;
    }
    font-family: $alt-font;
    @include font-size(14,yes);
    color: $caption-color;
    clear: both;

    a {
        color: $caption-color;
        text-decoration: none;
        border-bottom: 1px dotted $caption-color;

        &:hover {
            border-bottom-style: solid;
        }
    }
}

.half,
.third {
    & figcaption {
        /* Remove caption indents */
        padding-left: 0;
        padding-right: 0;
    }
}

.img-circle {
    border-radius: 50%;
}
/* Fix IE9 SVG bug */
svg:not(:root) {
    overflow: hidden;
}
/*
   Tables
   ========================================================================== */
table {
    border-collapse: collapse;
    margin: ((0px + $doc-line-height) / 2) 0;
    margin: ((0rem + ($doc-line-height / $doc-font-size)) / 2) 0;
    width: 100%;
}
// tbody {
// 	tr:hover > td,
// 	tr:hover > th {
// 		background-color: $table-hover-color;
// 	}
// }

thead {
    tr:first-child td {
        border-bottom: 2px solid $table-border-color;
    }
}

th {
    padding: (0px + $doc-line-height) / 2;
    padding: (0rem + ($doc-line-height / $doc-font-size)) / 2;
    font-family: $alt-font;
    font-weight: bold;
    text-align: left;
    // background-color: $table-header-color;
    border-bottom: 1px solid darken($border-color, 15%);
}

td {
    border-bottom: 1px solid $border-color;
    padding: (0px + $doc-line-height) / 2;
    padding: (0rem + ($doc-line-height / $doc-font-size)) / 2;
}

td,
th,
tr {
    vertical-align: middle;
}
/*
   Horizontal rules
   ========================================================================== */
hr {
    display: block;
    position: relative;
    margin: 0 + (2 * $doc-line-height) 0;
    margin: 0 + ((2 * $doc-line-height) / $doc-font-size) 0;
    padding: 0;
    height: 5px;
    border: 0;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 2 * $column;
        height: 1px;
        background: $border-color;
    }
}
/*
   Forms
   ========================================================================== */
fieldset {
    background: lighten($border-color, 10);
    border: 1px solid $border-color;
    margin-bottom: 0 + $doc-line-height;
    margin-bottom: 0 + ($doc-line-height / $doc-font-size);
    padding: $gutter;
    border-radius: $border-radius;
}

input,
label,
select {
    display: block;
    @include font-size($form-font-size,no);
}

label {
    font-weight: bold;
    font-family: $alt-font;
    margin-bottom: (0px + $doc-line-height) / 4;
    margin-bottom: (0rem + ($doc-line-height / $doc-font-size)) / 4;

    &.required:after {
        content: "*";
    }

    abbr {
        display: none;
    }
}

#{$all-text-inputs},
select,
select[multiple=multiple],
textarea {
    @include box-sizing(border-box);
    @include transition(border-color);
    background-color: white;
    border-radius: $form-border-radius;
    border: 1px solid $form-border-color;
    box-shadow: $form-box-shadow;
    font-family: $form-font-family;
    font-size: $form-font-size;
    margin-bottom: (0px + $doc-line-height) / 2;
    margin-bottom: (0rem + ($doc-line-height / $doc-font-size)) / 2;
    padding: ((0px + $doc-line-height) / 3) ((0px + $doc-line-height) / 3);
    padding: ((0rem + ($doc-line-height / $doc-font-size)) / 3) ((0rem + ($doc-line-height / $doc-font-size)) / 3);
    width: 100%;

    &:hover {
        border-color: $form-border-color-hover;
    }

    &:focus {
        border-color: $form-border-color-focus;
        box-shadow: $form-box-shadow-focus;
        outline: none;
    }
}

textarea {
    resize: vertical;
}

input[type="search"] {
    @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin-right: (0px + $doc-line-height) / 4;
    margin-right: (0rem + ($doc-line-height / $doc-font-size)) / 4;
}

input[type="file"] {
    width: 100%;
}

select {
    width: auto;
    max-width: 100%;
    margin-bottom: 0 + $doc-line-height;
    margin-bottom: 0 + ($doc-line-height / $doc-font-size);
}

form button,
input[type="submit"] {
    @extend .btn;
    @include appearance(none);
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
/*
   Navigation lists
   ========================================================================== */
/**
 * Removes margins, padding, and bullet points from navigation lists
 *
 * Example usage:
 * <nav>
 *    <ul>
 *      <li><a href="#link-1">Link 1</a></li>
 *      <li><a href="#link-2">Link 2</a></li>
 *      <li><a href="#link-3">Link 3</a></li>
 *    </ul>
 *  </nav>
 */
nav {
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }
}
/*
   Global animation transition
   ========================================================================== */
.highlight,
a,
b,
blockquote,
em,
figure,
h1,
h2,
header,
i,
img,
input,
p,
q,
span,
strong,
td,
tr {
    @include transition (color 0.2s ease-out, opacity 0.2s ease-out, background 0.2s ease-out, border-color 0.2s ease-out);
}

#Layer_1 {
    margin-top: -24px;
}

div.wrap.page-lead-content h3 {
    color: #000;
}

.tright {
    text-align: right;
}

.tcenter {
    text-align: center;
}

.tbgrey2 {
    width: 600px;
    background-color: lightgrey;
}

.tbgrey {
    width: 400px;
    background-color: lightgrey;
    border-spacing: 10px;
    border-collapse: separate;
    margin: 0.75rem;
}

.tbgrey td {
    border-bottom: 5px lightgrey solid;
}

.tbhead {
    text-align: center;
    font-size: 2em;
    padding-bottom: 0;
}

.floatr {
    float: right;
}

.floatc {
    clear: both;
}

.bright {
    border-right: 1px solid black;
    width: 100px;
}

strong {
    font-family: "Open Sans Bold",Helvetica,Arial,Sans-Serif;
    font-weight: bold;
}

.nbull {
    list-style-type: none;
}

.harvard {
    background-color: pink;
}

.district {
    background-color: powderblue;
}

.social {
    background-color: lightsalmon;
}

.seaport {
    background-color: darkseagreen;
}

#overview {
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
    border-collapse: collapse;
}

#overview tr td {
    margin: 0;
    padding: 5px;
    text-align: center;
    vertical-align: center;
}

#overview .top {
    border-top: solid black 1px;
}

#overview .left {
    border-left: solid black 1px;
}

#overview .bottom {
    border-bottom: solid black 1px;
}

#overview .right {
    border-right: solid black 1px;
}

.cost_table {
    border-spacing: 0;
    padding: 10px;
    width: 500px;
    margin: 0 auto;
}

.cost_early {
    background-color: #fff2cc;
}

.cost_full {
    background-color: #d9d2e9;
}

.cost_main {
    background-color: #d9ead3;
}

.cost_optional {
    background-color: #a4c2f4;
}

.cost_grey {
    background-color: #efefef;
}

.cost_acb {
    text-align: center;
    vertical-align: bottom;
}

.cost_pt {
    padding: 10px 10px 5px;
}

.cost_p5 {
    padding: 5px;
}

.cost_bbl {
    border-bottom: black solid 1px;
    border-left: black solid 1px;
}

.cost_bb {
    border-bottom: black solid 1px;
}

.cost_br {
    border-right: black solid 1px;
}

.cost_bl {
    border-left: black solid 1px;
}

.cost_bt {
    border-top: black solid 1px;
}

#speaker-div {
    position: relative;
}

.modalDialog {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.7);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    color: #fff;
    width: 75%;
    position: relative;
    margin: 15% auto;
    padding: 5px 20px 13px;
    border-radius: 10px;
    background: #000;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #bc1f40;
}

#welcome-table {
    text-align: left;
    margin: 0 12px 12px;
    display: inline-block;
    width: auto;
}

#welcome-table td {
    padding: 2px;
}

#welcome-table th {
    padding: 2px;
}

#welcome-table .second-col {
    padding-left: 12px;
}

td a {
    text-decoration: none;
}
