.dropbtn,
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown:hover .dropbtn,
li a:hover {
    background-color: #d3d3d3;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 9999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 9999;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    z-index: 9999;
    position: relative;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#top-nav {
    z-index: 9999;
}

#top-nav a {
    // padding-left: 10px;
    // padding-right: 10px;
    width: 100%;
}

a.dropbtn {}

.left {
    text-align: left;
}
