<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %} {% if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <link href="{{ site.baseurl }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
</head>

<body>
    {% include header.html %} {% include navigation-sliding.html %} {% if page.image.feature %}

    <div class="page-lead" style="background-image:url({{ site.baseurl }}/images/{{ page.image.feature }});">
        <div class="wrap page-lead-content">
            <div>
                <img src="images/rectangle_color_150_350.png" alt="Heading Logo">
            </div>

            <!--         <a href="{{ site.baseurl }}/attending/" style="margin-top: 6px;" class="btn-inverse">Registration Information</a> -->

            <div class="feature-wrapper welcome">
                <div class="feature-inner feature-main">
                    <h2 id="head-feature ">International Conference for<br />
                      Free and Open Source Software for Geospatial</h2>
                    <p style="margin-bottom:10px;">August 14-19, 2017<br /> Seaport Hotel &amp; World Trade Center<br /> Boston, MA
                    </p>

                    <p style="margin-top: 0px;"><span>Presented by: </span><img src="{{ site.baseurl }}/images/sponsor_osgeo_web.png" alt="OSGeo Logo" style="height: 50px; margin-top: 0px; margin-bottom: 6px;"></p>
                </div>
                <div class="feature-inner feature-main welcome-dates">
                    <!-- <p style="margin-bottom: 6px">Help select main conference presentations!</p> -->

                    <h2 id="head-feature" style="padding:2px;">Key Dates</h2>
                    <table id="welcome-table">
                        <tr>
                            <th>Date</th>
                            <th class="second-col">Milestone</th>
                        </tr>
                        <tr>
                            <td>July 7</td>
                            <td class="second-col"><a style="text-decoration:underline; color:red;" href="https://wiki.osgeo.org/wiki/FOSS4G_Travel_Grant_Programme_2017">Travel Grant Applications Due</a></td>
                        </tr>
                        <tr>
                            <td>Aug 3</td>
                            <td class="second-col">Last Day to Register Online</td>
                        </tr>
                        <tr>
                            <td>Aug 14</td>
                            <td class="second-col"><strong>First Day of Workshops!</strong></td>
                        </tr>
                        <tr>
                            <td>Aug 16</td>
                            <td class="second-col"><strong>First Day of Main Conference!</strong></td>
                        </tr>
                    </table>
                    <br></br>
                    <p>
                      <strong>Check out the latest blog article</strong>
                    {% for post in site.posts limit:2 %}
                        <dl><dt><a href="./blog">{{ post.title }}</a></dt></dl>
                    {% endfor %}
                  </p>


                </div>
            </div>
        </div>
        <!-- /.page-lead-content -->
    </div>
    <!-- /.page-lead -->
    {% endif %}

    <div id="page-wrapper">
        {% include browser-upgrade.html %}

        <div id="main" role="main">
            <div class="wrap">

                <div class="archive-wrap">
                    <div class="page-content">
                        {{ content }}
                    </div>
                    <!-- /.page-content -->
                </div class="archive-wrap">
                <!-- /.archive-wrap -->
            </div>
            <!-- /.wrap -->
        </div>
        <!-- /#main -->



        {% include footer.html %}
    </div>

  <!--  <div class="page-lead" style="background-image:url({{ site.baseurl }}/images/{{ page.image.feature }});">
        <div class="wrap page-lead-content" style="height: 48px;">
        </div> -->
        <!-- /.page-lead-content -->
    <!-- </div> -->
    <!-- /.page-lead -->

    <script src="{{ site.baseurl }}/js/vendor/jquery-1.9.1.min.js"></script>
    <script src="{{ site.baseurl }}/js/main.js"></script>

</body>

</html>
